@font-face{
    font-family: 'thewitchermedium';
    src: url(font/thewitcher-jnoj-webfont.woff2) format('woff2'),
    	 url(font/thewitcher-jnoj-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0;
	line-height: 20px;
	font-size: 16px;
	color: black;
	background-image: linear-gradient(black, grey, silver, silver, white);
}

body{
	font-family: 'thewitchermedium';
	font-weight: normal;
    font-style: normal;
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: black;
	font-size: 60px;
	line-height: 50px;
	margin-top: 50px;
}

h2{
	font-size: 30px;
	padding-top: 1px;
}

header img{
	border-radius: 100px;
	width: 350px;
	box-shadow: 8px 8px black;
	max-width: 90%;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 15px 15px;
}

main img{
	max-width: 100%
}

a{
	color: darkred;
	font-size: 18px;
}
a:hover{
	color: purple;
}

footer{
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 15px 15px;
	text-align: center;
}

p.caption{
	color: black;
	margin-top: 0px;
	font-style: italic;
}

.container {
  position: relative;
}

.top-left{
	position: absolute;
	top: 8px;
	left: 8px;
	font-style: italic;
}







