body{
	margin: 0;
	line-height: 20px;
	font-size: 16px;
	background-color: silver;
	background-image: linear-gradient(black, grey, silver, silver, white);
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: black;
	font-size: 45px;
	line-height: 40px;
	margin-top: 50px;
}

h1, h2{
	font-family: 'Metamorphous'
}

h2{
	font-size: 30px;
	padding-top: 30px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 4px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 15px 15px;
}

main img{
	max-width: 100%
}

a{
	color: darkred;
	font-size: 18px;
}
a:hover{
	color: purple;
}

footer{
	text-align: center;
}

p.caption{
	color: black;
	margin-top: 0px;
	font-style: italic;
}







